# This is a basic introduction to jupyter
Some code 
```
x = 10
print(10)
```

In [1]:
x = "Hello World"
print(x)

Hello World

# This is a header 1
This is text including _italics_
## This is a header 2
Here is some text with more **bold**

# Collapsing cells

In [6]:
for value in range(100):
 print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# Load data using pandas

In [1]:
import pandas as pd

In [2]:
ls

Jupiter-tutorial-notebook.ipynb  heart_disease_uci.csv

In [3]:
df = pd.read_csv("heart_disease_uci.csv")

In [4]:
df

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [5]:
!mkdir test-directory

In [6]:
ls

Jupiter-tutorial-notebook.ipynb  test-directory/
heart_disease_uci.csv

In [1]:
numbers = [1, 2, 3, 4, 5]
print(numbers[2:5])

[3, 4, 5]

In [4]:
print(numbers[:3])

[1, 2, 3]

In [5]:
print(-1)

-1

In [7]:
print(numbers[-1])

5

In [9]:
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
numbers.insert(0, 8)

In [13]:
print(numbers)

[8, 1, 2, 3, 4, 5]

In [14]:
numbers.append(6)

In [15]:
print(numbers)

[8, 1, 2, 3, 4, 5, 6]

In [16]:
numbers.remove(1)

In [17]:
print(numbers)

[8, 2, 3, 4, 5, 6]

In [18]:
numbers.pop()

6

In [19]:
print(numbers)

[8, 2, 3, 4, 5]

In [20]:
numbers.pop(0)

8

In [21]:
print(numbers)

[2, 3, 4, 5]

In [22]:
del numbers

In [23]:
print(numbers)

NameError: name 'numbers' is not defined

Functions:

In [27]:
def firstPythonFunction(parameter):
    print("Hello", parameter)
    firstPythonFunciton("argument")

In [35]:
class Horse:
    def __init__(self, species, name, age, color):
     self.species = species
     self.name = name
     self.age = age
     self.color = color
    def greetings(self):
        print("Hello, my name is ", self.name)
    def __str__(self):
        return f"{self.name} is a {self.color} {self.species}"

bucefalo = Horse("horse", "Bucefalo", 3, "brown")
bucefalo.greetings()

Hello, my name is  Bucefalo